@model GarmentSoft.Models.PurchaseOrder

@{
    ViewBag.Title = "Purchase Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-speech font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Invoices</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Index")" class="btn btn-circle btn-default">
                <i class="fa fa-arrow-left"></i> Back
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <h4>Invoice #</h4>
                        <div>
                            @Model.InvoiceNumber
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Vendor</h4>
                        <div>
                            @Model.Vendor.VendorName
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Date</h4>
                        <div>
                            @(Model.InvoiceDate.ToString("dd-MMM-yyyy"))
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Dispatch Doc#</h4>
                        <div>
                            @Model.dispatch_document_number
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Dispatch Through</h4>
                        <div>
                            @Model.dispatched_through
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Destination</h4>
                        <div>
                            @Model.destination
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Bale Nos</h4>
                        <div>
                            @Model.bale_numbers
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Description</h4>
                        <div>
                            @Model.Description
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h4>Products</h4>
                    <table id="products_table" class="table">
                        <tr>
                            <th>Product Name</th>
                            <th>Qty</th>
                            <th>Rate</th>
                            <th>Fold</th>
                        </tr>
                        @{
                            if (Model != null && Model.PurchaseDetails != null)
                            {
                                foreach (var item in Model.PurchaseDetails)
                                {
                        <tr>
                            <td>
                                <div style='margin-top: 5px;'>@item.Product.ProductName</div>
                            </td>

                            <td style='width: 15%' class='qty'>
                                @item.Quantity
                            </td>

                            <td style='width: 15%' class='rate'>
                                @item.Rate
                            </td>
                            <td class='rate'>
                                @item.Fold
                            </td>
                        </tr>
                                }
                            }
                        }
                    </table>
                </div>
                <div class="col-md-4">
                    <h4>Total</h4>
                    <table class="table">
                        <tr>
                            <td style="width: 70%">
                                Subtotal
                            </td>
                            <td id="sub_total">
                                Rs @Model.GrossAmount
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Discount
                            </td>
                            <td>
                                Rs @Model.Discount
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total
                            </td>
                            <td id="total_discount">
                                Rs @Model.NetAmount
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>