@model GarmentSoft.Models.PrinterChalan
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
}
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-speech font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Create New Challan</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Index")" class="btn btn-circle btn-default">
                <i class="fa fa-arrow-left"></i> Back
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm())
        {
            <div class="container-fluid">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.created_by_id, new { Value = Session["UserID"] })
                @Html.HiddenFor(x => x.FinancialYear_Id, new { Value = Session["FinancialYearID"] })
                @Html.HiddenFor(x => x.Company_Id, new { Value = Session["CompanyId"] })
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Invoice #</label>
                            @Html.EditorFor(model => model.chalan_number, new { htmlAttributes = new { @class = "form-control", Value = @ViewBag.chalan_number, required = true, @id = "ChalanNo" } })
                            @Html.ValidationMessageFor(model => model.chalan_number, "", new { @class = "text-danger ChalanNoVal" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Vendor</label>
                            @Html.DropDownList("vendor_id", null, htmlAttributes: new { @class = "form-control", @id = "Vendor" })
                            @Html.ValidationMessageFor(model => model.vendor_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Purchase Date</label>
                            @Html.EditorFor(model => model.ChalanDate, new { htmlAttributes = new { @class = "form-control", Id = "ChalanDate", required = "true" } })
                            @Html.ValidationMessageFor(model => model.ChalanDate, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Dispatch Through</label>
                            @Html.EditorFor(model => model.dispatched_through, new { htmlAttributes = new { @class = "form-control", @id = "DispatchThrough" } })
                            @Html.ValidationMessageFor(model => model.dispatched_through, "", new { @class = "text-danger DispatchThroughVal" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Dispatch Document #</label>
                            @Html.EditorFor(model => model.dispatch_document_number, new { htmlAttributes = new { @class = "form-control", @id = "DocumentNo" } })
                            @Html.ValidationMessageFor(model => model.dispatch_document_number, "", new { @class = "text-danger DocumentNoVal" })
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bale Nos</label>
                            @Html.EditorFor(model => model.bale_numbers, new { htmlAttributes = new { @class = "form-control", @id = "BaleNo" } })
                            @Html.ValidationMessageFor(model => model.bale_numbers, "", new { @class = "text-danger BaleNoVal" })
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Description</label>
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "Description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger ChalanNoVal" })
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <label class="productName">Product Name</label>
                                    @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control", @id = "product" })
                                    @Html.ValidationMessage("ProductId", "", new { @class = "text-danger productIdVal" })
                                </td>
                                <td>
                                    <label class="productQuantity">Quantity</label>
                                    @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control", @id = "quantity" } })
                                    @Html.ValidationMessage("Quantity", "", new { @class = "text-danger quantityVal" })
                                </td>
                                <td>
                                    <label class="productFold">Fold</label>
                                    @Html.Editor("Fold", new { htmlAttributes = new { @class = "form-control", @id = "fold" } })
                                    @Html.ValidationMessage("Fold", "", new { @class = "text-danger foldVal" })
                                </td>
                                <td>
                                    <label class="productFold">Expected Fold</label>
                                    @Html.Editor("ExpectedFold", new { htmlAttributes = new { @class = "form-control", @id = "expectedfold" } })
                                    @Html.ValidationMessage("ExpectedFold", "", new { @class = "text-danger expectedFoldVal" })
                                </td>
                                <td>
                                    <label class="productRate">Shrinkage</label>
                                    @Html.Editor("Shrinkage", new { htmlAttributes = new { @class = "form-control", @id = "shrinkage" } })
                                    @Html.ValidationMessage("ShrinkageVal", "", new { @class = "text-danger rateVal" })
                                </td>
                                <td class="itemEditRow">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-block btn-success" type="button" id="addProductItem">Add</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <table class="table table-striped table-advance table-hover" id="PrinterChalanItems">
                                <tr id="productItemRow">
                                    <td>
                                        <label class="productName">Product Name</label>
                                        <input type="hidden" class="productId" value="" />
                                        <!--<input type="hidden" class="subTotal" value="" />-->
                                    </td>
                                    <td>
                                        <label class="productQuantity">Quantity</label>
                                    </td>
                                    <td>
                                        <label class="productFold">Fold</label>
                                    </td>
                                    <td>
                                        <label class="expectedFold">Expected Fold</label>
                                    </td>
                                    <td>
                                        <label class="productRate">Shrinkage</label>
                                    </td>
                                    <td>
                                        <label class="productTotal">subTotal</label>
                                    </td>
                                    <td class="itemEditRow"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div>
                        <button id="btnSubmit" type="button" class="btn btn-block btn-success">
                            Save Challan
                        </button>
                        @*@Html.ActionLink("Close", "Index", "PurchaseOrders", new { @class = "btn btn-danger" })*@
                    </div>
                    
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <!-- DateRanger -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#ChalanDate').daterangepicker({
                locale: {
                    format: 'DD-MMM-YYYY'
                },
                "singleDatePicker": true,
                "startDate": "@(DateTime.Now.ToString("dd-MMM-yyyy"))",
                "minDate": "@ViewBag.StartYear",
                "maxDate": "@ViewBag.EndYear"
            });

            $('#addProductItem').click(function () {
                //validation and add order items
                var isAllValid = validateModel();

                if (isAllValid) {
                    var $newRow = $('#productItemRow').clone().removeAttr('id');

                    $('.productId', $newRow).val($('#product').val());
                    $('.productName', $newRow).text($('#product option:selected').text());
                    $('.productQuantity', $newRow).text($('#quantity').val());
                    $('.productFold', $newRow).text($('#fold').val());
                    $('.expectedFold', $newRow).text($('#expectedfold').val());
                    $('.productRate', $newRow).text($('#shrinkage').val());
                    var netQty = 0;
                    var qty = $('#quantity').val();
                    var shrinake = $("#shrinkage").val();
                    netQty = (shrinake / 100) * qty;
                    $('.productTotal', $newRow).text(qty - netQty);
                    //$('.itemEditRow', $newRow).append('<a class="btn btn-success btn-xs" href="" title="Edit"><i class="fa fa-pencil"></i></a>|<a class="btn btn-danger btn-xs" href="" title="Delet>"><i class="fa fa-trash-o"></i></a>');
                    $('.itemEditRow', $newRow).append('<button type="button" class="btn btn-danger btn-xs remove" title="Delete" ><i class="fa fa-trash-o"></i></button>');
                    $('#PrinterChalanItems').append($newRow);
                    $('#quantity').val('');
                    $('#fold').val('');
                    $('#expectedfold').val('');
                    $('#shrinkage').val('');
                    $('#quantity').siblings('span.quantityVal').text("");
                    $('#fold').siblings('span.foldVal').text("");
                    $('#expectedfold').siblings('span.expectedFoldVal').text("");
                    $('#shrinkage').siblings('span.rateVal').text("");
                    
                    
                }
            });

            //remove button click event
            $('#PrinterChalanItems').on('click', '.remove', function () {
                $(this).parents('tr').remove();
                CalculateTotal();
            });

            $('#btnSubmit').click(function () {
                var isAllValid = validateMainPage();
                if (isAllValid) {
                    //validate order items
                    var list = [];
                    var errorItemCount = 0;
                    $('#PrinterChalanItems tbody tr').each(function (index, ele) {

                        if ($('.productId', this).val() != null && $('.productId', this).val() != "0" && $('.productId', this).val() != "") {
                            var orderItem = {
                                product_id: $('.productId', this).val(),
                                Quantity: $('.productQuantity', this).text(),
                                Fold: $('.productFold', this).text(),
                                ExpectedFold: $('.expectedFold', this).text(),
                                NetQuantity: $('.productTotal', this).text(),
                                Shrinkage: $('.productRate', this).text()
                            }
                            list.push(orderItem);
                        }
                    }
                    )

                    var data = {
                        vendor_id: $('#Vendor').val(),
                        chalan_number: $('#ChalanNo').val(),
                        ChalanDate: $('#ChalanDate').val(),
                        dispatch_document_number: $('#DocumentNo').val(),
                        dispatched_through: $('#DispatchThrough').val(),
                        bale_numbers: $('#BaleNo').val(),
                        Description: $('#Description').val(),
                        PrinterChalanDetails: list
                    }

                    //$(this).val('Please wait...');

                    $.ajax({
                        type: 'POST',
                        url: '/PrinterChalans/Create',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data != "0") {
                                alert('Challan Saved Successfully.');
                                list = [];
                                $('#Vender,#ChalanNo,#ChalanDate').val('');
                                $('#PrinterChalanItems tbody tr').each(function (index, ele) {

                                    if ($('.productId', this).val() != null && $('.productId', this).val() != "0" && $('.productId', this).val() != "") {
                                        $('#PrinterChalanItems tbody tr', this).remove();
                                    }
                                });
                                //$(this).val('Save Purchase Order');
                                window.location.href = '/PrinterChalans/Details/' + data;
                            }
                            else {
                                //$(this).val('Save Purchase Order');
                                alert('Error in saving purchase order');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });

            // validation scripts
            function validateModel() {
                var result = true;
                if ($('#quantity').val() == "") {
                    $('#quantity').siblings('span.quantityVal').text("Please Enter Quantity.");
                    result = false;
                }
                if (isNaN($('#quantity').val())) {
                    $('#quantity').siblings('span.quantityVal').text("Please Enter number in quantity.");
                    result = false;
                }
                /*
                if ($('#fold').val() == "") {
                    $('#fold').siblings('span.foldVal').text("Please Enter Fold value.");
                    result = false;
                }*/
                if (isNaN($('#fold').val())) {
                    $('#fold').siblings('span.foldVal').text("Please Enter number in Fold.");
                    result = false;
                }
                if (isNaN($('#expectedfold').val())) {
                    $('#expectedfold').siblings('span.expectedFoldVal').text("Please Enter number in Expected Fold.");
                    result = false;
                }
                
                if ($('#shrinkage').val() != "") {
                    var x = parseFloat($('#shrinkage').val());
                    if (isNaN(x) || x < 0 || x > 100) {
                        $('#shrinkage').siblings('span.rateVal').text("Please Enter valid percentage value.");
                        result = false;
                        // alert("value is out of range");
                    }
                    else {
                        var decimalSeparator = ".";
                        var val = "" + x;
                        if (val.indexOf(decimalSeparator) < val.length - 3) {
                            $('#shrinkage').siblings('span.rateVal').text("Please Enter valid percentage value.");
                            result = false;
                        }
                    }
                }
                
                if (isNaN($('#shrinkage').val())) {
                    $('#shrinkage').siblings('span.rateVal').text("Please Enter number in shrinkage value.");
                    result = false;
                }
                
                $('#PrinterChalanItems tbody tr').each(function (index, ele) {
                    if ($('.productId', this).val() == $('#product').val()) {
                        $('#product').siblings('span.productIdVal').text("Product is already added.");
                        result = false;
                    }
                });
                return result;
            }

            $('#quantity').change(function () {
                if ($('#quantity').val() != "" && !isNaN($('#quantity').val())) {
                    $('#quantity').siblings('span.quantityVal').text("");
                }
            });
            $('#fold').change(function () {
                if ($('#fold').val() != "" && !isNaN($('#fold').val())) {
                    $('#fold').siblings('span.foldVal').text("");
                }
            });
            $('#expectedfold').change(function () {
                if ($('#expectedfold').val() != "" && !isNaN($('#expectedfold').val())) {
                    $('#expectedfold').siblings('span.expectedFoldVal').text("");
                }
            });
            $('#shrinkage').change(function () {
                if ($('#shrinkage').val() != "" && !isNaN($('#shrinkage').val())) {
                    $('#shrinkage').siblings('span.rateVal').text("");
                }
            });

            $("#product").change(function () {
                $('#PrinterChalanItems tbody tr').each(function (index, ele) {
                    if ($('.productId', this).val() == $('#product').val()) {
                        $('#product').siblings('span.productIdVal').text("Product is already added.");
                    }
                    else
                    {
                        $('#product').siblings('span.productIdVal').text("");
                    }
                });
            });

            function validateMainPage() {
                var result = true;
                if ($('#ChalanNo').val() == "") {
                    $('#ChalanNo').siblings('span.ChalanNoVal').text("Please Enter Challan Number.");
                    result = false;
                }
                if (isNaN($('#ChalanNo').val())) {
                    $('#ChalanNo').siblings('span.ChalanNoVal').text("Please Enter number in Challan Number.");
                    result = false;
                }
                if ($('#ChalanDate').val() == "") {
                    $('#ChalanDate').siblings('span.ChalanDateVal').text("Please Enter Challan Date value.");
                    result = false;
                }
                var tableRows = $("#PrinterChalanItems tbody tr").length;

                if (tableRows <= 1) {
                    alert('Please enter at least 1 product for this invoice');
                    result = false;
                }
                return result;
            }

            $('#ChalanNo').change(function () {
                if ($('#ChalanNo').val() != "" && !isNaN($('#ChalanNo').val())) {
                    $('#ChalanNo').siblings('span.ChalanNoVal').text("");
                }
            });
            $('#ChalanDate').change(function () {
                if ($('#ChalanDate').val() != "") {
                    $('#ChalanDate').siblings('span.ChalanDateVal').text("");
                }
            });

            

            function CalculateTotal() {
                
                
            };
            
        });
    </script>
}

