@model GarmentSoft.Models.PrinterChalan

@{
    ViewBag.Title = "Purchase Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-speech font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Printing Chalans</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Index")" class="btn btn-circle btn-default">
                <i class="fa fa-arrow-left"></i> Back
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Challan #</h4>
                        <div>
                            @Model.chalan_number
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Vendor</h4>
                        <div>
                            @Model.Vendor.VendorName
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Date</h4>
                        <div>
                            @(Model.ChalanDate.ToString("dd-MMM-yyyy"))
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Dispatch Doc#</h4>
                        <div>
                            @Model.dispatch_document_number
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Dispatch Through</h4>
                        <div>
                            @Model.dispatched_through
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h4>Bale Nos</h4>
                        <div>
                            @Model.bale_numbers
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <h4>Description</h4>
                        <div>
                            @Model.Description
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Products</h4>
                    <table id="products_table" class="table">
                        <tr>
                            <th>Product Name</th>
                            <th>Qty</th>
                            <th>Fold</th>
                            <th>Expected Fold</th>
                            <th>Shrinkage(%)</th>
                            <th>Net Quantity</th>
                        </tr>
                        @{
                            if (Model != null && Model.PrinterChalanDetails != null)
                            {
                                foreach (var item in Model.PrinterChalanDetails)
                                {
                                    <tr>
                                        <td>
                                            <div style='margin-top: 5px;'>@item.Product.ProductName</div>
                                        </td>

                                        <td style='width: 15%' class='qty'>
                                            @item.Quantity
                                        </td>
                                        <td class='rate'>
                                            @item.Fold
                                        </td>
                                        <td class='rate'>
                                            @item.ExpectedFold
                                        </td>
                                        <td style='width: 15%' class='rate'>
                                            @item.Shrinkage
                                        </td>
                                        <td style='width: 15%' class='rate'>
                                            @item.NetQuantity
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div>