@model GarmentSoft.Models.Company

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Are you sure you want to delete this Company?</h3>
<div>
    <h4>Customer Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PanNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSTNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
