<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse" style="z-index: 1000">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start @Html.IsSelected(controller: "Dashboard")">
                <a href="@Url.Action("Index", "dashboard")" class="nav-link nav-toggle">
                    <i class="fa fa-home fa-fw"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item start">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-line-chart fa-fw"></i>
                    <span class="title">Master</span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start @Html.IsSelected(controller: "Vendors")">
                        <a href="@Url.Action("Index", "Vendors")" class="nav-link nav-toggle">
                            <i class="fa fa-industry fa-fw"></i>
                            <span class="title">Vendor</span>
                        </a>
                    </li>
                    <li class="nav-item start @Html.IsSelected(controller: "Products")">
                        <a href="@Url.Action("Index", "Products")" class="nav-link nav-toggle">
                            <i class="fa fa-cube fa-fw"></i>
                            <span class="title">Product</span>
                        </a>
                    </li>
                    <li class="nav-item start @Html.IsSelected(controller: "Customers")">
                        <a href="@Url.Action("Index", "Customers")" class="nav-link nav-toggle">
                            <i class="fa fa-user fa-fw"></i>
                            <span class="title">Customer</span>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item start @Html.IsSelected(controller: "PurchaseOrders")">
                <a href="@Url.Action("Index", "PurchaseOrders")" class="nav-link nav-toggle">
                    <i class="fa fa-shopping-cart fa-fw"></i>
                    <span class="title">Purchase Orders</span>
                </a>
            </li>
            <li class="nav-item start @Html.IsSelected(controller: "PrinterChalans")">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-list fa-fw"></i>
                    <span class="title">Printer Challan</span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "PrinterChalans")" class="nav-link ">
                            <span class="title">Printer Chalans</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "PrintJobWorkReceived")" class="nav-link ">
                            <span class="title">Print Job Work Received</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start @Html.IsSelected(controller: "TailorChalanSend")">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-list fa-fw"></i>
                    <span class="title">Tailor Challan</span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "TailorChalanSend")" class="nav-link ">
                            <span class="title">Tailor Chalans</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "TailorChalan")" class="nav-link ">
                            <span class="title">Tailor Job Work Received</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start @Html.IsSelected(controller: "Invoices")">
                <a href="@Url.Action("Index", "Invoices")" class="nav-link nav-toggle">
                    <i class="fa fa-list fa-fw"></i>
                    <span class="title">
                        Sales Invoice
                    </span>
                </a>
            </li>
            <li class="nav-item start @Html.IsSelected(controller: "Invoices")">
                <a href="@Url.Action("Index", "Journal")" class="nav-link nav-toggle">
                    <i class="fa fa-list fa-fw"></i>
                    <span class="title">
                        Journal Entry
                    </span>
                </a>
            </li>
            @{
                if (Session["RoleName"] != null && Session["RoleName"].ToString().Equals("Administrator"))
                {
                    <li class="nav-item start ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="fa fa-cog fa-fw"></i>
                            <span class="title">Administration</span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item start @Html.IsSelected(controller: "Company")">
                                <a href="@Url.Action("Index", "Company")" class="nav-link nav-toggle">
                                    <i class="fa fa-cog fa-fw"></i>
                                    <span class="title">Companies</span>
                                </a>
                            </li>
                            <li class="nav-item start @Html.IsSelected(controller: "Users")">
                                <a href="@Url.Action("Index", "Users")" class="nav-link nav-toggle">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span class="title">Users</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            }
            
            <li class="nav-item start @Html.IsSelected(controller: "Reports")">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-line-chart fa-fw"></i>
                    <span class="title">Reports</span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("ProductWiseStock", "Report")" class="nav-link ">
                            <span class="title">Stock Summary Report</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("VendorWiseStock", "Report")" class="nav-link ">
                            <span class="title">Vendor Stock Summary</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item start @Html.IsSelected(controller: "AccGroup")">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-line-chart fa-fw"></i>
                    <span class="title">Accounting</span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "AccGroup")" class="nav-link ">
                            <span class="title">Groups</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "AccLedger")" class="nav-link ">
                            <span class="title">Ledgers</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->