@model GarmentSoft.Models.TailorChalan

@{
    ViewBag.Title = "Update Tailor Chalan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
}
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-speech font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Edit Chalan</span>
        </div>
        <div class="actions">
            <a href="@Url.Action(" index")" class="btn btn-circle btn-default">
                <i class="fa fa-arrow-left"></i> Back
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body">

        @using (Html.BeginForm())
        {
        <div class="container-fluid">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(x => x.created_by_id, new { Value = Session["UserID"] })
            @Html.HiddenFor(x => x.FinancialYear_Id, new { Value = Session["FinancialYearID"] })
            @Html.HiddenFor(x => x.Company_Id, new { Value = Session["CompanyId"] })
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Chalan #</label>
                        @Html.EditorFor(model => model.ChalanNo, new { htmlAttributes = new { @class = "form-control", @id = "ChalanNo" } })
                        @Html.ValidationMessageFor(model => model.ChalanNo, "", new { @class = "text-danger ChalanNoVal" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Vendor</label>
                        @Html.DropDownList("vendor_id", null, htmlAttributes: new { @class = "js-autocomplete form-control col-md-7", @id = "Vendor" })
                        @Html.ValidationMessageFor(model => model.vendor_id, "", new { @class = "text-danger VendorVal" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Chalan Date</label>
                        @Html.EditorFor(model => model.ChalanDate, new { htmlAttributes = new { @class = "form-control", Id = "ChalanDate", required = "true" } })
                        @Html.ValidationMessageFor(model => model.ChalanDate, "", new { @class = "text-danger ChalanDateVal" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Bill Number</label>
                        @Html.EditorFor(model => model.bill_number, new { htmlAttributes = new { @class = "form-control", @id = "BillNo" } })
                        @Html.ValidationMessageFor(model => model.bill_number, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Description</label>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "Description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-xs-12">
                <div class="form-group">
                    <table class="table table-striped table-advance table-hover" id="tailorChalanItems">
                        <tr id="productItemRow">

                            <td>
                                <label class="productName">Product Name</label>
                                <input type="hidden" class="productId" value="" />
                                <input type="hidden" class="matarialList" value="" />
                                <input type="hidden" class="rowCount" value="" />
                                <input type="hidden" class="matarialDetails" value="" />
                            </td>
                            <td>
                                <label class="productQuantity">Quantity</label>
                            </td>
                            <td>
                                <label class="laborCost">Labor Cost</label>
                            </td>
                            <td class="itemEditRow"></td>
                        </tr>
                        @if (Model != null && Model.TailorChalanDetails != null)
                        {
                        var count = 0;
                        foreach (var item in Model.TailorChalanDetails)
                        {
                        count++;
                        var matarialDetail = "";

                        foreach (var matarial in item.TailorMaterialDetails)
                        {
                        matarialDetail += (matarialDetail == "" ? "{\"ProductId\":\"" : ",{\"ProductId\":\"") + matarial.product_id + "\",\"Quantity\":\"" + matarial.Quantity + "\",\"Id\":\"" + matarial.Id + "\",\"TailorChalanDetailsId\":\"" + matarial.TailorChalanDetailsId + "\"}     ";
                        }

                        <tr>
                            <td>
                                <label class="productName">@item.Product.ProductName</label>
                                <input type="hidden" class="productId" value="@item.product_id" />
                                <input type="hidden" class="rowCount" value="@count" />
                                <input type="hidden" class="matarialDetails" value="@matarialDetail" />
                                <input type="hidden" class="Id" value="@item.Id" />
                            </td>
                            <td>
                                <label class="productQuantity">@item.Quantity</label>
                            </td>
                            <td>
                                <label class="laborCost">@item.LaborCost</label>
                            </td>
                            <td class="itemEditRow">
                                <button type="button" class="btn btn-warning btn-xs editItem" title="Edit"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-danger btn-xs remove" title="Delete"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                        }
                        }
                    </table>
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <div class="form-group">
                    <button id="btnShowModal" type="button" class="btn btn-block btn-success">
                        Add Product
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <button id="btnSubmit" type="button" class="btn btn-block btn-success">
                    Save Challan
                </button>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="itemModel"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                        <h4 class="modal-title">Add Product</h4>
                    </div>
                    <div class="modal-body">
                        <div class="portlet-body">
                            <form>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">
                                                <label>Product</label>
                                            </div>
                                            <div class="col-md-10">
                                                @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "js-autocomplete form-control", @id = "product" })
                                                @Html.ValidationMessage("ProductId", "", new { @class = "text-danger productIdVal" })
                                                <input type="hidden" class="IdEdit" id="IdEdit" />
                                                <input type="hidden" class="countEdit" id="countEdit" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group  margin-top-10">
                                                <div class="col-md-2">
                                                    <label>Quantity</label>
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control", @id = "quantity" } })
                                                    @Html.ValidationMessage("Quantity", "", new { @class = "text-danger quantityVal" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group  margin-top-10">
                                                <div class="col-md-2">
                                                    <label>Labor Cost</label>
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.Editor("LaborCost", new { htmlAttributes = new { @class = "form-control", @id = "laborCost" } })
                                                    @Html.ValidationMessage("LaborCost", "", new { @class = "text-danger laborCostVal" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="dvmaterial">
                                        <div class="form-group margin-top-20">
                                            <div class="details form-horizontal">
                                                <h4 class="modal-title">
                                                    Tailor Material Details
                                                </h4>
                                                <table class="table table-responsive">
                                                    <tr class="mycontainer" id="mainrow">
                                                        <td class="col-md-3 col-xs-12">
                                                            Product
                                                        </td>
                                                        <td class="col-md-3 col-xs-12">
                                                            Quantity
                                                        </td>
                                                        <td class="col-md-4 col-xs-12"></td>
                                                    </tr>
                                                    <tr class="mycontainer" id="mainrow">
                                                        <td class="col-md-3 col-xs-12">
                                                            @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "js-autocomplete materialId", id = "materialId" })
                                                            @Html.ValidationMessage("materialId", "", new { @class = "text-danger materialIdVal" })
                                                            <input type="hidden" class="Id" value="" />
                                                            <input type="hidden" class="TailorChalanDetailsId" value="" />
                                                        </td>
                                                        <td class="col-md-3 col-xs-12">
                                                            <input type="text" id="materialQuantity" class="materialQuantity" value="0" />
                                                            @Html.ValidationMessage("materialQuantity", "", new { @class = "text-danger materialQuantityVal" })
                                                        </td>
                                                        <td class="col-md-4 col-xs-12">
                                                            <input type="button" id="addNewMaterial" value="add Material" class="btn-xs btn-success" />
                                                        </td>
                                                    </tr>
                                                    <tr class="mycontainer" id="cloneRow" style="display:none">
                                                        <td class="col-md-3 col-xs-12">
                                                            @Html.DropDownList("MaterialId", null, htmlAttributes: new { @class = "js-autocomplete materialId" })
                                                            @Html.ValidationMessage("materialId", "", new { @class = "text-danger materialIdVal" })
                                                            <input type="hidden" class="Id" value="" />
                                                            <input type="hidden" class="TailorChalanDetailsId" value="" />
                                                        </td>
                                                        <td class="col-md-3 col-xs-12">
                                                            <input type="text" class="materialQuantity" value="0" />
                                                            @Html.ValidationMessage("materialQuantity", "", new { @class = "text-danger materialQuantityVal" })
                                                        </td>
                                                        <td class="remove"></td>
                                                    </tr>
                                                </table>
                                                <div id="orderItems">
                                                    <table class="table table-responsive" id="tailorMaterialDetails"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="addProductItem" type="button" class="btn btn-success">Add Product</button>
                            <button type="button" id="btnHideModal" class="btn btn-danger">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
@section scripts
{
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript">
    function hidematerialdtl()
    {
        var prodId = $("#product").val();
        $.ajax({
            type: 'POST',
            url: '/tailorChalan/IsFinishedproduct',
            data: '{ProdId: "' + prodId + '" }',
            contentType: 'application/json',
            success: function (data) {
                if (data == "true") {
                    $('#dvmaterial').css('display', '');
                }
                else {
                    $('#dvmaterial').css('display', 'none');
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    $(document).ready(function () {
     
        hidematerialdtl();
        $("#product").change(function (event) {
            hidematerialdtl();
        });
     
        $('#ChalanDate').daterangepicker({
            locale: {
                format: 'DD-MMM-YYYY'
            },
            "singleDatePicker": true,
            "startDate": "@(DateTime.Now.ToString("dd-MMM-yyyy"))",
            "minDate": "@ViewBag.StartYear",
            "maxDate": "@ViewBag.EndYear"
        });

        $("#btnShowModal").click(function () {
            $('#quantity').val('');
            $('#laborCost').val('');
            $('#IdEdit').val('');
            $('#countEdit').val('');
            $('#tailorMaterialDetails').html('');
            $('#product').siblings('span.productIdVal').text("");
            $('#laborCost').siblings('span.laborCostVal').text("");
            $('#materialId').siblings('span.materialIdVal').text("");
            $('#materialQuantity').siblings('span.materialQuantityVal').text("");
            $("#itemModel").modal('show');
        });

        $("#btnHideModal").click(function () {
            $('#quantity').val('');
            $('#laborCost').val('');
            $('#IdEdit').val('');
            $('#countEdit').val('');
            $('#tailorMaterialDetails').html('');
            $('#product').siblings('span.productIdVal').text("");
            $('#laborCost').siblings('span.laborCostVal').text("");
            $('#materialId').siblings('span.materialIdVal').text("");
            $('#materialQuantity').siblings('span.materialQuantityVal').text("");
            $("#itemModel").modal('hide');
        });

        $("#addNewMaterial").click(function(){
            var isAllValid = validatePopup();
            if (isAllValid) {
                //var $newRow = $('#mainrow').clone(true, true).removeAttr('id');
                //$('.materialId', $newRow).removeAttr('id').val($('#materialId').val());
                //$('.materialQuantity', $newRow).removeAttr('id').val($('#materialQuantity').val());
                //$('.TailorChalanDetailsId', $newRow).removeAttr('id').val($('#IdEdit').val());
                //$('.addNewMaterial', $newRow).val('Remove').removeAttr('id').removeClass('btn-success').addClass('btn-danger');
                //$('#tailorMaterialDetails').append($newRow);

                var $newRow = $('#cloneRow').clone(true, true).removeAttr('id').css('display', 'inline');
                $('.materialId', $newRow).removeAttr('id').val($('#materialId').val());
                $('.materialQuantity', $newRow).removeAttr('id').val($('#materialQuantity').val());
                $('.Id', $newRow).removeAttr('id').val('');
                $('.TailorChalanDetailsId', $newRow).removeAttr('id').val($('#IdEdit').val());
                $('.remove', $newRow).append('<button type="button" class="btn btn-danger btn-xs removeItem" title="Delete" ><i class="fa fa-trash-o"></i></button>');
                $('#tailorMaterialDetails').append($newRow);
                $('#materialQuantity').val('');
            }
        });

        $('#addProductItem').click(function () {
            //validation and add order items
            var isAllValid = validateModel();
            var matarialDetail = "";
            $('#tailorMaterialDetails tbody tr').each(function (index, ele) {
                matarialDetail +=  (matarialDetail == "" ? "{\"ProductId\":\"" : ",{\"ProductId\":\"") +  $('.materialId', this).val() + "\",\"Quantity\":\"" +  $('.materialQuantity', this).val() + "\",\"Id\":\"" +  $('.Id', this).val() + "\",\"TailorChalanDetailsId\":\"" +  $('.TailorChalanDetailsId', this).val() + "\"}";
            });

            if (isAllValid) {
                if($('#countEdit').val() == '')
                {
                    var $newRow = $('#productItemRow').clone().removeAttr('id');
                    $('.productId', $newRow).val($('#product').val());
                    $('.productName', $newRow).text($('#product option:selected').text());
                    $('.productQuantity', $newRow).text($('#quantity').val());
                    $('.laborCost', $newRow).text($('#laborCost').val());
                    $('.matarialDetails', $newRow).val(matarialDetail);
                    $('.rowCount', $newRow).val($('#tailorChalanItems tr').length);
                    $('.itemEditRow', $newRow).append('<button type="button" class="btn btn-warning btn-xs editItem" title="Edit"><i class="fa fa-pencil"></i></button> <button type="button" class="btn btn-danger btn-xs remove" title="Delete" ><i class="fa fa-trash-o"></i></button>');
                    //$('.itemEditRow', $newRow).append('<button type="button" class="btn btn-danger btn-xs remove" title="Delete" ><i class="fa fa-trash-o"></i></button>');
                    $('#tailorChalanItems').append($newRow);
                    $('#materialQuantity').val('');
                    $('#laborCost').val('');
                    $('#tailorMaterialDetails').html('');
                    $("#itemModel").modal('hide');
                }
                else
                {
                    $('#tailorChalanItems tbody tr').each(function (index, ele) {
                        //update product list
                        if($('.rowCount', this).val() == $('#countEdit').val())
                        {
                            $('.productId', this).val($('#product').val());
                            $('.productName', this).text($('#product option:selected').text());
                            $('.productQuantity', this).text($('#quantity').val());
                            $('.laborCost', this).text($('#laborCost').val());
                            $('.matarialDetails', this).val(matarialDetail);
                            $('.rowCount', this).val($('#tailorChalanItems tr').length);

                            $('#quantity').val('');
                            $('#laborCost').val('');
                            $('#IdEdit').val('');
                            $('#countEdit').val('');
                            $('#materialQuantity').val('');
                            $('#tailorMaterialDetails').html('');
                            $("#itemModel").modal('hide');
                        }
                    });
                }
            }
        });

        $('#tailorChalanItems').on('click', '.editItem', function(){
            //show modelpopup with edit item
            $('#product').val($('.productId', $(this).parents('tr')).val());
            $('#quantity').val($('.productQuantity', $(this).parents('tr')).text());
            $('#laborCost').val($('.laborCost', $(this).parents('tr')).text());
            $('#IdEdit').val($('.Id', $(this).parents('tr')).val());
            $('#countEdit').val($('.rowCount', $(this).parents('tr')).val());
            $('#addProductItem').text("Update product");

            var str = $('.matarialDetails', $(this).parents('tr')).val()
            if(str != "")
            {
                var matObj = JSON.parse("[" + str + "]");
                var matarialList = [];
                for(var i = 0; i < matObj.length; i++)
                {
                    var $newRow = $('#cloneRow').clone(true, true).removeAttr('id').css('display', 'inline');
                    $('.materialId', $newRow).removeAttr('id').val(matObj[i].ProductId);
                    $('.materialQuantity', $newRow).removeAttr('id').val(matObj[i].Quantity);
                    $('.Id', $newRow).removeAttr('id').val(matObj[i].Id);
                    $('.TailorChalanDetailsId', $newRow).removeAttr('id').val(matObj[i].TailorChalanDetailsId);
                    $('.remove', $newRow).append('<button type="button" class="btn btn-danger btn-xs removeItem" title="Delete" ><i class="fa fa-trash-o"></i></button>');
                    $('#tailorMaterialDetails').append($newRow);
                }
            }
            $("#itemModel").modal('show');
        });

        //remove button click event
        $('#tailorMaterialDetails').on('click', '.removeItem', function () {
            if(confirm('Are you sure you wish to delete this product.'))
            {
                if($('.Id', this) == "")
                {
                    $(this).parents('tr').remove();
                }
                else
                {
                    var data = { id: $('.Id', $(this).parents('tr')).val()};
                    $.ajax({
                        type: 'POST',
                        url: '/tailorChalan/DeleteProductMatarial',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data != "0") {
                                $('#tailorMaterialDetails tbody tr').each(function (index, ele) {
                                    if(data == $('.Id', this).val())
                                    {
                                        this.remove();
                                    }
                                });
                            }
                            else {
                                // alert('Error in deleting matarial.');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            }
        });

        function getmatatialobj(str)
        {
            var matObj = JSON.parse("[" + str + "]");
            var matarialList = [];
            for(var i = 0; i < matObj.length; i++)
            {
                var objMat = {
                    Id:(matObj[i].Id == ""? "0" : matObj[i].Id),
                    TailorChalanDetailsId:(matObj[i].TailorChalanDetailsId == "" ? "0" : matObj[i].TailorChalanDetailsId),
                    ProductId: matObj[i].ProductId,
                    Quantity: matObj[i].Quantity
                }
                matarialList.push(objMat);
            }
            return matarialList;
        }

        $('#btnSubmit').click(function () {
            var isAllValid = validateMainPage();
            //validate order items
            var list = [];
            var errorItemCount = 0;
            if (isAllValid) {
                $('#tailorChalanItems tbody tr').each(function (index, ele) {
                    if ($('.productId', this).val() != null && $('.productId', this).val() != "0" && $('.productId', this).val() != "") {
                        var orderItem = {
                            Id:$('.Id', this).val(),
                            chalan_id: @Model.Id,
                            product_id: $('.productId', this).val(),
                            Quantity: $('.productQuantity', this).text(),
                            LaborCost: $('.laborCost', this).text(),
                            TailorMaterialDetails: getmatatialobj($('.matarialDetails', this).val())
                        }
                        list.push(orderItem);
                    }
                }
                );

                var data = {
                    Id:@Model.Id,
                    vendor_id: $('#Vendor').val(),
                    ChalanDate: $('#ChalanDate').val(),
                    ChalanNo: $('#ChalanNo').val(),
                    bill_number: $('#BillNo').val(),
                    Description: $('#Description').val(),
                    Company_Id: @Model.Company_Id,
                    FinancialYear_Id: @Model.FinancialYear_Id,
                    created_by_id: @Model.created_by_id,
                    TailorChalanDetails: list,
                }

                $.ajax({
                    type: 'POST',
                    url: '/TailorChalan/Edit',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data != "0") {
                            alert('Tailor Chalan Updated Successfully.');
                            window.location.href = '/TailorChalan/Details/' + data;
                        }
                        else {
                            //$(this).val('Save Printer Chalan');
                            alert('Error in saving tailor chalan');
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });

        //remove button click event
        $('#tailorChalanItems').on('click', '.remove', function () {
            if($('.Id', $(this).parents('tr')).val() != undefined && $('.Id', $(this).parents('tr')).val() != "")
            {
                if(confirm('Are you sure you wish to delete this product.'))
                {
                    var data = { id: $('.Id', $(this).parents('tr')).val()};
                    $.ajax({
                        type: 'Post',
                        url: '/TailorChalan/DeleteProduct',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data != "0") {
                                $('#tailorChalanItems tbody tr').each(function (index, ele) {
                                    if ($('.Id', this).val() == data) {
                                        $('.Id', this).parents('tr').remove();
                                    }
                                });
                            }
                            else {
                                alert('Error in deleting product.');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            }
            else
            {
                $(this).parents('tr').remove();
            }
        });

        // validation scripts
        function validatePopup() {
            var result = true;
            if ($('#materialQuantity').val() == "") {
                $('#materialQuantity').siblings('span.materialQuantityVal').text("Please Enter Quantity.");
                result = false;
            }
            if (isNaN($('#materialQuantity').val())) {
                $('#materialQuantity').siblings('span.materialQuantityVal').text("Please Enter number in quantity.");
                result = false;
            }

            $('#tailorMaterialDetails tbody tr').each(function (index, ele) {
                if ($('.materialId', this).val() == $('#materialId').val()) {
                    $('#materialId').siblings('span.materialIdVal').text("Product is already added.");
                    result = false;
                }
            });
            return result;
        }
        $('#materialQuantity').change(function () {
            if ($('#materialQuantity').val() != "" && !isNaN($('#materialQuantity').val())) {
                $('#materialQuantity').siblings('span.materialQuantityVal').text("");
            }
        });

        $("#materialId").change(function () {
            $('#tailorMaterialDetails tbody tr').each(function (index, ele) {
                if ($('.materialId', this).val() == $('#materialId').val()) {
                    $('#materialId').siblings('span.materialIdVal').text("Product is already added.");
                }
                else {
                    $('#materialId').siblings('span.materialIdVal').text("");
                }
            });
        });

        function validateModel() {
            var result = true;
            if ($('#quantity').val() == "") {
                $('#quantity').siblings('span.quantityVal').text("Please Enter Quantity.");
                result = false;
            }
            if (isNaN($('#quantity').val())) {
                $('#quantity').siblings('span.quantityVal').text("Please Enter number in quantity.");
                result = false;
            }
            if ($('#laborCost').val() == "") {
                $('#laborCost').siblings('span.laborCostVal').text("Please Enter Labor Cost.");
                result = false;
            }
            if (isNaN($('#laborCost').val())) {
                $('#laborCost').siblings('span.laborCostVal').text("Please Enter number in Labor Cost.");
                result = false;
            }
            $('#tailorChalanItems tbody tr').each(function (index, ele) {
                if ($('#countEdit').val() == '' && $('.productId', this).val() == $('#product').val()) {
                    $('#product').siblings('span.productIdVal').text("Product is already added.");
                    result = false;
                }
            });
            return result;
        }

        $('#quantity').change(function () {
            if ($('#quantity').val() != "" && !isNaN($('#quantity').val())) {
                $('#quantity').siblings('span.quantityVal').text("");
            }
        });
        $('#fold').change(function () {
            if ($('#fold').val() != "" && !isNaN($('#fold').val())) {
                $('#fold').siblings('span.foldVal').text("");
            }
        });
        $('#rate').change(function () {
            if ($('#rate').val() != "" && !isNaN($('#rate').val())) {
                $('#rate').siblings('span.rateVal').text("");
            }
        });
        $('#laborCost').change(function () {
            if ($('#laborCost').val() != "" && !isNaN($('#laborCost').val())) {
                $('#laborCost').siblings('span.laborCostVal').text("");
            }
        });

        $("#product").change(function () {
            $('#purchaseOrderItems tbody tr').each(function (index, ele) {
                if ($('.productId', this).val() == $('#product').val()) {
                    $('#product').siblings('span.productIdVal').text("Product is already added.");
                }
                else {
                    $('#product').siblings('span.productIdVal').text("");
                }
            });
        });

        function validateMainPage() {
            var result = true;
            if ($('#ChalanNo').val() == "") {
                $('#ChalanNo').siblings('span.ChalanNoVal').text("Please Enter Chalan Number.");
                result = false;
            }
            if ($('#ChalanDate').val() == "") {
                $('#ChalanDate').siblings('span.ChalanDateVal').text("Please Enter Chalan Date value.");
                result = false;
            }
            var tableRows = $("#tailorChalanItems tbody tr").length;

            if (tableRows <= 1) {
                alert('Please enter at least 1 item for this invoice.');
                result = false;
            }
            return result;
        }

        $('#ChalanNo').change(function () {
            if ($('#ChalanNo').val() != "" && !isNaN($('#ChalanNo').val())) {
                $('#ChalanNo').siblings('span.ChalanNoVal').text("");
            }
        });
        $('#ChalanDate').change(function () {
            if ($('#ChalanDate').val() != "") {
                $('#ChalanDate').siblings('span.ChalanDateVal').text("");
            }
        });
    });
</script>
}


@*//                        <tr class="mycontainer">
    //
    <td class="col-md-3 col-xs-12">
        //                                                                <select class="materialId" name="ProductId">
            <option value="7">Cotton Slub</option>
            //
            <option value="8">Style 1</option>
            //
        </select>
        //                                                                <span class="field-validation-valid text-danger materialIdVal" data-valmsg-for="materialId" data-valmsg-replace="true"></span>
        //                                                                <input type="hidden" class="Id" value="">
        //                                                                <input type="hidden" class="TailorChalanDetailsId" value="5">
        //
    </td>
    //
    <td class="col-md-3 col-xs-12">
        //                                                                <input type="text" class="materialQuantity" value="0">
        //                                                                <span class="field-validation-valid text-danger materialQuantityVal" data-valmsg-for="materialQuantity" data-valmsg-replace="true"></span>
        //
    </td>
    //
    <td class="col-md-4 col-xs-12">
        //                                                                <input type="button" id="addNewMaterial" value="add Material" class="btn-xs btn-success">
        //
    </td>
    //
</tr>*@
