@model GarmentSoft.Models.acc_transactions

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-speech font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Journal Entry Details</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Index")" class="btn btn-circle btn-default">
                <i class="fa fa-arrow-left"></i> Back
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <h4>Journal Entry# @Model.id</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Voucher Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.voucher_no)
            </dd>
            <dt>
                Voucher Type
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VoucherType.VoucherName)
            </dd>
            <dt>
                Voucher Date
            </dt>
            <dd>

                @Model.voucher_date.ToString("dd/MM/yyyy")
            </dd>
            <dt>
                Description
            </dt>
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
        </dl>
    </div>
    <p>
        Journal Details
    </p>
    <table class="table">
        <tr>
            <th>
                Ledger Name
            </th>
            <th>
                Trans.Type
            </th>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
        </tr>
        @if (Model != null && Model.acc_transactions_details != null)
        {
            
            foreach (var item in Model.acc_transactions_details)
            {
                
                <tr >
                    <td>
                        <label class="Ledger">@item.acc_ledger.name</label>

                    </td>
                    <td>
                        <label class="TransType">@item.trans_type</label>
                    </td>
                    <td>
                        <label class="Amount">@item.amount</label>
                    </td>
                    <td>
                        <label class="Description">@item.description</label>
                    </td>
                    
                </tr>
            }
        }
        
    </table>

</div>