@model GarmentSoft.Models.acc_transactions

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>acc_transactions</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.voucher_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voucher_type)
                @Html.ValidationMessageFor(model => model.voucher_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.voucher_no, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voucher_no)
                @Html.ValidationMessageFor(model => model.voucher_no)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.voucher_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.voucher_date)
                @Html.ValidationMessageFor(model => model.voucher_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_Id, "Company_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Company_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Company_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinancialYear_Id, "FinancialYear_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FinancialYear_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.FinancialYear_Id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
