@model GarmentSoft.Models.PrintJobWorkReceived
@{
    ViewBag.Title = "Edit Challan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
}
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-speech font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Edit Challan</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Index")" class="btn btn-circle btn-default">
                <i class="fa fa-arrow-left"></i> Back
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm())
        {
            <div class="container-fluid">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.created_by, new { Value = Session["UserID"] })
                @Html.HiddenFor(x => x.FinancialYear_Id, new { Value = Session["FinancialYearID"] })
                @Html.HiddenFor(x => x.Company_Id, new { Value = Session["CompanyId"] })
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Challan #</label>
                            @Html.EditorFor(model => model.chalan_number, new { htmlAttributes = new { @class = "form-control", @id = "InvoiceNo" } })
                            @Html.ValidationMessageFor(model => model.chalan_number, "", new { @class = "text-danger InvoiceNoVal" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Vendor</label>
                            @Html.DropDownList("VendorId", null, htmlAttributes: new { @class = "form-control", @id = "Vendor" })
                            @Html.ValidationMessageFor(model => model.VendorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Purchase Date</label>
                            @Html.EditorFor(model => model.ChalanDate, new { htmlAttributes = new { @class = "form-control", Id = "ChalanDate", required = "true" } })
                            @Html.ValidationMessageFor(model => model.ChalanDate, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>Description</label>
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "Description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger InvoiceNoVal" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <label class="productName">Product Name</label>
                                    @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control", @id = "product" })
                                    @Html.ValidationMessage("ProductId", "", new { @class = "text-danger productIdVal" })
                                    <input type="hidden" class="IdEdit" id="IdEdit" />
                                    <input type="hidden" class="countEdit" id="countEdit" />
                                </td>
                                <td>
                                    <label class="productQuantity">Quantity</label>
                                    @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control", @id = "quantity" } })
                                    @Html.ValidationMessage("Quantity", "", new { @class = "text-danger quantityVal" })
                                </td>
                                <td>
                                    <label class="productFold">Fold</label>
                                    @Html.Editor("Fold", new { htmlAttributes = new { @class = "form-control", @id = "fold" } })
                                    @Html.ValidationMessage("Fold", "", new { @class = "text-danger foldVal" })
                                </td>
                                <td>
                                    <label class="productRate">Charge</label>
                                    @Html.Editor("Rate", new { htmlAttributes = new { @class = "form-control", @id = "rate" } })
                                    @Html.ValidationMessage("Rate", "", new { @class = "text-danger rateVal" })
                                </td>
                                <td class="itemEditRow">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-block btn-success" type="button" id="addProductItem">Add</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <div class="form-group">
                            <table class="table table-striped table-advance table-hover" id="purchaseOrderItems">
                                <tr id="productItemRow">
                                    <td>
                                        <label class="productName">Product Name</label>
                                        <input type="hidden" class="productId" value="" />
                                        <input type="hidden" class="Id" value="" />
                                        <input type="hidden" class="rowCount" value="" />
                                    </td>
                                    <td>
                                        <label class="productQuantity">Quantity</label>
                                    </td>
                                    <td>
                                        <label class="productFold">Fold</label>
                                    </td>
                                    <td>
                                        <label class="productRate">Rate</label>
                                    </td>
                                    <td class="itemEditRow"></td>
                                </tr>
                                @if (Model != null && Model.PrintJobWorkReceivedDetails != null)
                                {
                                    var count = 0;
                                    long subtotal = 0;
                                    foreach (var item in Model.PrintJobWorkReceivedDetails)
                                    {
                                        count++;
                                        <tr id="productItemRow">
                                            <td>
                                                <label class="productName">@item.Product.ProductName</label>
                                                <input type="hidden" class="productId" value="@item.Product.Id" />
                                                <input type="hidden" class="Id" value="@item.Id" />
                                                <input type="hidden" class="rowCount" value="@count" />
                                            </td>
                                            <td>
                                                <label class="productQuantity">@item.Quantity</label>
                                            </td>
                                            <td>
                                                <label class="productFold">@item.Fold</label>
                                            </td>
                                            <td>
                                                <label class="productRate">@item.Charges</label>
                                            </td>
                                            <td class="itemEditRow">
                                                <button type="button" class="btn btn-warning btn-xs editItem" title="Edit"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-danger btn-xs remove" title="Delete"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                        subtotal += Convert.ToInt64(item.Quantity * item.Charges);
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">

                            <table class="table">
                                <tr>
                                    <td style="width: 70%">
                                        Subtotal
                                    </td>
                                    <td id="sub_total">
                                        @Model.GrossCharges
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        tax
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control", id = "tax" } })
                                        @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total
                                    </td>
                                    <td id="total_Amount">
                                        @Model.NetCharges
                                    </td>
                                </tr>
                            </table>
                            <div>
                                <div>
                                    <button id="btnSubmit" type="button" class="btn btn-block btn-success">
                                        Save Printer Challan
                                    </button>
                                    @*@Html.ActionLink("Close", "Index", "PrintJobWorkReceived", new { @class = "btn btn-danger" })*@
                                </div>
                                <div>
                                    <input type="hidden" name="gross_amount" id="gross" value="@Model.GrossCharges">
                                    <input type="hidden" name="net_amount" id="total" value="@Model.NetCharges">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        }
    </div>
</div>
@section scripts
{
    <!-- DateRanger -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#btnShowModal").click(function () {
            //    $('#quantity').val('');
            //    $('#fold').val('');
            //    $('#rate').val('');
            //    $('#IdEdit').val('');
            //    $('#countEdit').val('');
            //});

            $('#ChalanDate').daterangepicker({
                locale: {
                    format: 'DD-MMM-YYYY'
                },
                "singleDatePicker": true,
                "startDate": "@(DateTime.Now.ToString("dd-MMM-yyyy"))",
                "minDate": "@ViewBag.StartYear",
                "maxDate": "@ViewBag.EndYear"
            });
            //$("#btnHideModal").click(function () {
            //    $("#itemModel").modal('hide');
            //    $('#quantity').val('');
            //    $('#fold').val('');
            //    $('#rate').val('');
            //    $('#IdEdit').val('');
            //    $('#countEdit').val('');

            //});

            $('#addProductItem').click(function () {
                //validation and add order items
                var isAllValid = validateModel();
                if (isAllValid) {
                    if($('#countEdit').val() == '')
                    {
                        //add new row of items
                        var $newRow = $('#productItemRow').clone().removeAttr('id');
                        $('.productId', $newRow).val($('#product').val());
                        $('.productName', $newRow).text($('#product').find("option:selected").text());
                        $('.productQuantity', $newRow).text($('#quantity').val());
                        $('.productFold', $newRow).text($('#fold').val());
                        $('.productRate', $newRow).text($('#rate').val());
                        $('.rowCount', $newRow).val($('#purchaseOrderItems tr').length + 1);
                        $('.itemEditRow', $newRow).append('<button type="button" class="btn btn-warning btn-xs editItem" title="Edit"><i class="fa fa-pencil"></i></button> <button type="button" class="btn btn-danger btn-xs remove" title="Delete"><i class="fa fa-trash-o"></i></button>');
                        $('#purchaseOrderItems').append($newRow);
                    }
                    else
                    {
                        $('#purchaseOrderItems tbody tr').each(function (index, ele) {
                            //update product list
                            if($('.rowCount', this).val() == $('#countEdit').val())
                            {
                                $('.productId', this).val($('#product').val());
                                $('.productName', this).text($('#product').find("option:selected").text());
                                $('.productQuantity', this).text($('#quantity').val());
                                $('.productFold', this).text($('#fold').val());
                                $('.productRate', this).text($('#rate').val());
                                $('#addProductItem').text("Add Product");
                            }
                        });
                    }
                    $('#quantity').val('');
                    $('#fold').val('');
                    $('#rate').val('');
                    $('#IdEdit').val('');
                    $('#countEdit').val('');
                    $('#product').siblings('span.productIdVal').text("");
                    $('#quantity').siblings('span.quantityVal').text("");
                    $('#fold').siblings('span.foldVal').text("");
                    $('#rate').siblings('span.rateVal').text("");
                    CalculateTotal();
                }
            });


            $('#purchaseOrderItems').on('click', '.editItem', function(){
                //show modelpopup with edit item
                $('#product').val($('.productId', $(this).parents('tr')).val());
                $('#quantity').val($('.productQuantity', $(this).parents('tr')).text());
                $('#fold').val($('.productFold', $(this).parents('tr')).text());
                $('#rate').val($('.productRate', $(this).parents('tr')).text());
                $('#IdEdit').val($('.Id', $(this).parents('tr')).val());
                $('#countEdit').val($('.rowCount', $(this).parents('tr')).val());
                $('#addProductItem').text("Update product");
                //$("#itemModel").modal('show');
            });

            $('#btnSubmit').click(function () {
                var isAllValid = validateMainPage();
                if (isAllValid) {
                    var list = [];
                    var errorItemCount = 0;
                    $('#purchaseOrderItems tbody tr').each(function (index, ele) {
                        if ($('.productId', this).val() != null && $('.productId', this).val() != "0" && $('.productId', this).val() != "") {
                            var orderItem = {
                                Id:$('.Id', this).val(),
                                ChalanId: @Model.Id,
                                ProductId: $('.productId', this).val(),
                                Quantity: $('.productQuantity', this).text(),
                                Fold: $('.productFold', this).text(),
                                Charges: $('.productRate', this).text()
                            }
                            list.push(orderItem);
                        }
                    });

                    var data = {
                        Id:@Model.Id,
                        VendorId: $('#Vendor').val(),
                        chalan_number: $('#InvoiceNo').val(),
                        ChalanDate: $('#ChalanDate').val(),                        
                        Description: $('#Description').val(),
                        CompanyId: @Model.Company_Id,
                        financial_year: @Model.FinancialYear_Id,
                        created_by: @Model.created_by,
                        GrossCharges: $('#gross').val(),
                        NetCharges: $('#total').val(),
                        Tax: $('#tax').val(),
                        PrintJobWorkReceivedDetails: list
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/PrintJobWorkReceived/Edit',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data != "0") {
                                alert('Purchase Order Updated Successfully.');
                                window.location.href = '/PrintJobWorkReceived/Details/' + data;
                            }
                            else {
                                // $(this).val('Save Purchase Order');
                                alert('Error in updating purchase order.');
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });

            //remove button click event
            $('#purchaseOrderItems').on('click', '.remove', function () {
                if($('.Id', $(this).parents('tr')).val() != undefined && $('.Id', $(this).parents('tr')).val() != "")
                {
                    if(confirm('Are you sure you wish to delete this product.'))
                    {
                        var data = { id: $('.Id', $(this).parents('tr')).val() };
                        $.ajax({
                            type: 'Post',
                            url: '/PrintJobWorkReceived/DeleteProduct/',
                            data: JSON.stringify(data),
                            contentType: 'application/json',
                            success: function (data) {
                                if (data != "0") {
                                    $('#purchaseOrderItems tbody tr').each(function (index, ele) {
                                        if ($('.productId', this).val() == data) {
                                            $('.productId', this).parents('tr').remove();
                                        }
                                    });
                                }
                                else {
                                    alert('Error in deleting product.');
                                }
                                CalculateTotal();
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    }
                }
                else
                {
                    $(this).parents('tr').remove();
                    CalculateTotal();
                }

            });

            // validation scripts
            function validateModel() {
                var result = true;
                if ($('#quantity').val() == "") {
                    $('#quantity').siblings('span.quantityVal').text("Please Enter Quantity.");
                    result = false;
                }
                if (isNaN($('#quantity').val())) {
                    $('#quantity').siblings('span.quantityVal').text("Please Enter number in quantity.");
                    result = false;
                }
                /*
                if ($('#fold').val() == "") {
                    $('#fold').siblings('span.foldVal').text("Please Enter Fold value.");
                    result = false;
                }*/
                if (isNaN($('#fold').val())) {
                    $('#fold').siblings('span.foldVal').text("Please Enter number in Fold.");
                    result = false;
                }
                if ($('#rate').val() == "") {
                    $('#rate').siblings('span.rateVal').text("Please Enter Rate value.");
                    result = false;
                }
                if (isNaN($('#rate').val())) {
                    $('#rate').siblings('span.rateVal').text("Please Enter number in Rate value.");
                    result = false;
                }
                $('#purchaseOrderItems tbody tr').each(function (index, ele) {
                    if ($('#countEdit').val() == '' && $('.productId', this).val() == $('#product').val()) {
                        $('#product').siblings('span.productIdVal').text("Product is already added.");
                        result = false;
                    }
                });
                return result;
            }

            $('#quantity').change(function () {
                if ($('#quantity').val() != "" && !isNaN($('#quantity').val())) {
                    $('#quantity').siblings('span.quantityVal').text("");
                }
            });
            $('#fold').change(function () {
                if ($('#fold').val() != "" && !isNaN($('#fold').val())) {
                    $('#fold').siblings('span.foldVal').text("");
                }
            });
            $('#rate').change(function () {
                if ($('#rate').val() != "" && !isNaN($('#rate').val())) {
                    $('#rate').siblings('span.rateVal').text("");
                }
            });
            $("#product").change(function () {
                $('#purchaseOrderItems tbody tr').each(function (index, ele) {
                    if ($('#countEdit').val() == '' && $('.productId', this).val() == $('#product').val()) {
                        $('#product').siblings('span.productIdVal').text("Product is already added.");
                    }
                    else
                    {
                        $('#product').siblings('span.productIdVal').text("");
                    }
                });
            });

            function validateMainPage() {
                var result = true;
                if ($('#InvoiceNo').val() == "") {
                    $('#InvoiceNo').siblings('span.InvoiceNoVal').text("Please Enter Challan Number.");
                    result = false;
                }
                if (isNaN($('#InvoiceNo').val())) {
                    $('#InvoiceNo').siblings('span.InvoiceNoVal').text("Please Enter number in Challan Number.");
                    result = false;
                }
                if ($('#ChalanDate').val() == "") {
                    $('#ChalanDate').siblings('span.ChalanDateVal').text("Please Enter Challan Date value.");
                    result = false;
                }
                var tableRows = $("#purchaseOrderItems tbody tr").length;

                if (tableRows <= 1) {
                    alert('Please enter at least 1 product for this Challan');
                    result = false;
                }
                return result;
            }

            $('#InvoiceNo').change(function () {
                if ($('#InvoiceNo').val() != "" && !isNaN($('#InvoiceNo').val())) {
                    $('#InvoiceNo').siblings('span.InvoiceNoVal').text("");
                }
            });
            $('#ChalanDate').change(function () {
                if ($('#ChalanDate').val() != "") {
                    $('#ChalanDate').siblings('span.ChalanDateVal').text("");
                }
            });

            $('#tax').change(function () {
                if (isNaN($('#tax').val())) {
                    alert("Please enter numeric in tax.")
                    $('#tax').val("0");
                    return;
                }
                if (parseInt($('#tax').val()) > parseInt($("#sub_total").text())) {
                    alert("tax can not be greater then total amount.")
                    $('#tax').val("0");
                    return;
                }
                if (parseInt($('#tax').val()) < 0) {
                    alert("tax can not be less then 0.")
                    $('#tax').val("0");
                    return;
                }
                CalculateTotal();
            });

            function CalculateTotal() {
                var subtotal = 0;
                var tax = $('#tax').val() == "" ? 0 : $('#tax').val();
                $('#purchaseOrderItems tbody tr').each(function (index, ele) {
                    if ($('.productId', this).val() != null && $('.productId', this).val() != "0" && $('.productId', this).val() != "") {
                        var qty = $('.productQuantity', this).text()
                        var rate = $('.productRate', this).text()
                        var total = (qty * rate);
                        subtotal += total;
                    }
                });

                $("#sub_total").html(subtotal);
                $("#total_Amount").html(subtotal - tax);

                $("input#gross").val(subtotal);
                $("input#total").val(subtotal - tax);
            };
        });
    </script>
}


