@model List<GarmentSoft.Models.InvoiceMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
               <style>
                   div.dt-buttons {
                       float: right !important;
                       margin-right: 183px !important;
                   }
               </style>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-speech font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Invoices</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Create")" class="btn btn-circle btn-default">
                <i class="fa fa-plus"></i> New
            </a>
            <a href="@Url.Action("Print")" class="btn btn-circle btn-default">
                <i class="fa fa-print"></i> Print   
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="jTable table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Invoice #
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Gross
                    </th>
                    <th>
                        Net
                    </th>
                    <th>
                        Created On
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.invoice_no.ToString(), "Details", new { id = item.invoice_no })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                        </td>
                        <td>
                            Rs @Html.DisplayFor(modelItem => item.gross_amount)
                        </td>
                        <td>
                            Rs @Html.DisplayFor(modelItem => item.net_amount)
                        </td>
                        <td>
                            @(item.created_on?.ToString("dd-MMM-yyyy"))
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.invoice_no }, new { @class = "btn btn-warning btn-xs" })
                            |
                            @Html.ActionLink("Delete", "Delete", new { id = item.invoice_no }, new { @class = "btn btn-danger btn-xs" })
                            |
                            <a target="_blank" class="btn btn-default btn-xs" href="@Url.Action("print-single", new { id = item.invoice_no }) ">
                                <i class="fa fa-print"></i> Print
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>
</div>
