@model List<GarmentSoft.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.dt-buttons {
        
        float: right !important;
        margin-right: 301px !important;

    }
</style>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-speech font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Products</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Create")" class="btn btn-circle btn-default">
                <i class="fa fa-plus"></i> New
            </a>
            <a href="@Url.Action("UpdateOpeningStock")" class="btn btn-circle btn-default">
                <i class="fa fa-plus"></i> Update Opening Stock
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body">

        <table class="jTable table table-striped table-advance table-hover mt">
            <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Description
                </th>
                <th>
                    Product Type
                </th>
                <th>
                    Price
                </th>
                <th>
                    Active
                </th>
                <th>Actions</th>
            </tr>
                </thead>
            <tbody>
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <tr>
                        <td>
                            @if (item.ProductName != null && item.ProductName != "")
                    {
                                @Html.ActionLink(Convert.ToString(item.ProductName), "Details", new { id = item.Id })
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeasuringUnit.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductType.ProductTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellingPrice.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                            |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this Product?');", @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }
            }
                </tbody>
        </table>

    </div>
    @Html.Hidden("hdnexport", "ProductList", new { id = "hdnexport" })
</div>

