@model  List<StockManager.Models.USP_VendorWiseStock_Result>

@{
    ViewBag.Title = "Vendor Wise Stock Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-speech font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Vendor Stock Summary</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Print")" class="btn btn-circle btn-default">
                <i class="fa fa-print"></i> Print
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body">

        @using (Html.BeginForm("VendorWiseStock", "Report", FormMethod.Get))
        {

            if ( ViewBag.ErrMsg != null )
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrMsg
                </div>
            }

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Vendors</label>
                            @Html.DropDownList("vendor_id", null, htmlAttributes: new {Id="vendor", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Interval</label>
                            @Html.TextBox("dates", null, new { Id = "date_range", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" style="margin-top: 25px;">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        }

        <table class="jTable table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th style="width: 10%;">
                        Unit
                    </th>
                    <th style="width: 10%;">
                        Issued
                    </th>
                    <th style="width: 10%;">
                        Received
                    </th>

                </tr>
            </thead>
            @{
                if (Model != null && Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.ProductName.ToString(), "VendorStockLedger",new { productId = item.ProductId }, new { @class = "reportLink"})
                                
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IssuedQty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReceivedQty)
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>

@section scripts{

    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    <script>
        $(function() {
            $(".reportLink").click(function () {
                var dates = $('#date_range').val(); // get the textbox value
                var vendor = $('#vendor').val();
                var url = $(this).attr('href') + '&dates=' + dates + '&vendorid=' + vendor;
                console.log('URL is::' + url);
                location.href = url; // redirect
                return false; // cancel default redirect
            });
        });
        $(document).ready(function () {
            $('#date_range').daterangepicker({                
                "startDate": "@ViewBag.StartYear",
                "endDate": "@ViewBag.EndYear",
                "minDate": "@ViewBag.MinYear",
                "maxDate": "@ViewBag.MaxYear"
            }, function (start, end, label) {
                console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
            });


        });
    </script>

}