@model GarmentSoft.Models.DashboardVM

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-share font-blue"></i>
            <span class="caption-subject font-blue bold uppercase">Overview</span>
            <span class="caption-helper">report overview...</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="tabbable-line">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#overview_1" data-toggle="tab"> Top Products </a>
                </li>
                <li class="">
                    <a href="#overview_2" data-toggle="tab"> Top Customers </a>
                </li>
                <li class="">
                    <a href="#overview_3" data-toggle="tab"> Top Vendors </a>
                </li>
                <li class="">
                    <a href="#overview_4" data-toggle="tab"> Latest Purchases </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="overview_1">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Sale</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.topProducts)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Count</td>
                                            <td>Rs @item.Amount</td>
                                            <td>
                                                <a href="#" class="btn btn-default">VIEW</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="overview_2">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Count</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.topCustomers)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Count</td>
                                            <td>Rs @item.Amount</td>
                                            <td>
                                                <a href="#" class="btn btn-default">VIEW</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="overview_3">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Count</th>
                                    <th>Fiscal Purchase</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.topVendors)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Count</td>
                                            <td>Rs @item.Amount</td>
                                            <td>
                                                <a href="#" class="btn btn-default">VIEW</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="overview_4">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th> Vendor </th>
                                    <th> Amount </th>
                                    <th> Date </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.latestPurchase)
                                    {
                                        <tr>
                                            <td>@item.Vendor.VendorName</td>
                                            <td>@item.NetAmount</td>
                                            <td>@item.InvoiceDate.ToString("dd-MMM-yyyy")</td>
                                            <td>
                                                <a href="#" class="btn btn-default">VIEW</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>